@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 62.5%;
  background-color: whitesmoke;
}

.container {
  max-width: 1024px;
  margin: auto;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
}

h3,
h4,
h5,
h6 {
  font-size: 2.0rem;
}

p,
a,
span {
  font-size: 1.6rem;
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3,
  h4,
  h5,
  h6 {
    font-size: 1.4rem;
  }

  p,
  a,
  span {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1280px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.8rem;
  }

  h3,
  h4,
  h5,
  h6 {
    font-size: 2.5rem;
  }

  p,
  a,
  span {
    font-size: 2.0rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
